textarea {
  resize: none !important;
  field-sizing: content !important;
  max-height: 100px;
}

.form {
  box-shadow: 0 30px 60px 0 rgba(242, 213, 213, 0.75);
  border-radius: 20px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.form-control:focus {
  border-color: #F2BDBD !important;
  box-shadow: 0 0 0 0.25rem rgba(242, 189, 189, 0.25) !important;
}

.btn {
  background-color: #F2BDBD  !important;
  border-color: #F2BDBD  !important;
  color: white  !important;
  max-width: 100px;
}

.btn:hover {
  background-color: white  !important;
  color: #F2BDBD  !important;
  border-color: #F2BDBD  !important;
}