:root {
  --BottomOffset: 2.5px;
  --LineHeight: 5px;
  --LineColor: #F6264D;
}

.navbar {
  background-color: #F2BDBD;
}

.navbar-a {
  color: white !important;
  position: relative;
	z-index: 1;
}

.navbar-a:before {
  position: absolute;
  content: '';
  display: block;
  z-index: -1;
  background: var(--LineColor);
  width: 0;
  height: var(--LineHeight);
  bottom: var(--BottomOffset);
  border-radius: var(--LineHeight);
  left: 50%;
  transition: 0.4s cubic-bezier(0.25, 0.1, 0, 2.02);
}

.navbar-a:hover {
  color: #FF5C7B !important;
}

.navbar-a:hover:before {
  width: calc(100% + var(--LineHeight));
  left: calc(var(--LineHeight) / -2);
}

.navbar-toggler {
  color: white !important;
  border: 2px solid white !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

@media (width <=576px) {
  .logo {
    width: 100px;
  }

  .navbar-a {
    text-align: center;
  }
}

@media (min-width: 576px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
}