.footer-logo {
  object-fit: cover;
  aspect-ratio: 1;
  max-block-size: 100px;
}

.footer-social {
  color: #F2BDBD;
  font-size: x-large;
}

@media (width <=576px) {
  .footer-social {
    padding: 0 20px;
  }
}